footer {
    background-color: #111111;
    color: #eeeeee;
    border-top: 2px solid grey;
        
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom:0;
    
}
 
h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
tr{
    text-align:center;
}
#menu{
    text-align: center;
}

